<div class="welcome-body">
    <h1>Добро пожаловать!</h1>
    <div class="welcome-title">
        Вы зашли на сайт блога. Чтобы иметь возможность искать и добавлять свои новости, пожалуйста, зайдите под своим именем.
    </div>
</div>
